@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto');

form * {
	display: block;
	font-family: 'Roboto', sans-serif;
	line-height: 2em;
	box-sizing: border-box;
}

.form {
	box-shadow: 0 0 10px lightgrey;
	width: 50%;
	min-width: 400px;
	max-width: 600px;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 10px;
	margin: 20px 0;
}

span, input[type="radio"] {
	display: inline-block;
	width: auto;
}

span {
	margin-right: 10px;
}

.wrapper {
	display: flex;
	justify-content: center;
}

form *:focus {
	outline: none;
}

textarea, input {
	width: 100%;
}

textarea {
	height: 200px;
	resize: none;
}

input[type="submit"] {
	cursor: pointer;
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px grey;
	padding: 0;
	margin-top: 20px;
	height: 40px;
	width: 100%;
}

input[type="submit"]:active {
	box-shadow: 0 0 3px grey;
}

select {
	height: 20px;
}