@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto');

.header {
	height: 70px;
	background-color: #ffc175;
	padding-left: 15px;
}

.heading {
	line-height: 70px;
	color: white;
	font-size: 30px;
	font-family: 'Passion One', sans-serif;
}

.background_photo {
	height: 300px;
	background-image: url(../img/vinyl_records.jpg);
	background-size: cover;
}

.navigation, .footer p {
	height: 50px;
	background-color: #ffc175;
	color: white;
	line-height: 50px;
	padding-left: 15px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.main_content h2 {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	padding-left: 15px;
}

.main_content p {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	padding-left: 15px;
}

.footer p {
	height: 60px;
	line-height: 60px;
}

