@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto');

.header, .footer {
	height: 70px;
	background-color: #c46f00;
}

.footer span {
	line-height: 70px;
	color: #f9f9f9;
	font-family: 'Passion One', sans-serif;
	font-size: 30px;
	padding: 0 30px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: black;
}

.header_container {
	position: relative;
	line-height: 70px;
	color: #f9f9f9;
	font-family: 'Passion One', sans-serif;
	font-size: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	/*height: 70px;*/
}

.heading, .link {
	font-size: 30px;
	margin: 0 30px;
}

.cover {
	height: 500px;
	background-image: url(../img/vinyl_records.jpg);
	background-size: cover;
	display: flex;
}

.cover span {
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: #ffffff;
}

.second_section {
	display: flex;
	margin-top: 20px;
}

.second_section div, .fourth_section_container {
	width: 90%;
	border-radius: 10px;
	box-shadow: 0 0 10px grey;
	margin: 20px auto;
	padding: 20px;
	box-sizing: border-box;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.second_section div p, .fourth_section_container p {
	margin-top: 20px;
}

.third_section {
	width: 90%;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.column {
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img_one, .img_two, .img_three {
	width: 200px;
	height: 200px;
}

.img_one {
	background-image: url(../img/pic1.jpg);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 20px; 
}

.img_two {
	background-image: url(../img/pic2.jpg);
	background-size: cover;
}

.img_three {
	background-image: url(../img/pic3.jpg);
	background-size: cover;
}

figcaption {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}

.fourth_section {
	margin-top: 40px;
}

.fourth_section_container {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}



.photo {
	min-width: 200px;
	background-image: url(../img/pic4.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}